<html>
<head>
	<title>
			Main Page
	</title>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<style>
.go{
margin-top:10px;
font-size:20px;
margin-left:1500px;
padding-left:10px;
text-decoration:none;
color:#000000;
}
</style>
</head>
</head>
<body >
	<div class="container">
<h1 style ="color: 	#000000;">&nbsp &nbsp 	 </h1>


</div>


	{%block content %}

<h1 style="text-align:center;top-margin:60px;padding-top:150px;"><b>Register Yourself to Explore Us!</b></h1>
  <p style="font-size:25px; text-align:center;padding-top:10px;">Please <a style ="color:   	#DC143C;text-decoration:none;" href="signup/">Register </a></p> <p style="font-size:25px; text-align:center;">or</p>

		<p style="font-size:25px; text-align:center;padding-top:10px;"><a style ="color:#DC143C;text-decoration:none;" href="login/">Login</a></p>
		{% endblock %}


	

</body>
<footer style="margin-top:500px;" >
      <p>@Copyright info

    </footer>

</html>
