<!DOCTYPE html>
<html>
{% load static %}
<title> MY CODE PLATFORM </title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="{% static 'css/style.css' %}" />

<body>
<h3 class= "platform">Platform as a Service <br> Cross Platform Cloud IDE</h3>

<div class="w3-container place">

  <div class="w3-bar w3-black">
    <button class="w3-bar-item w3-button tablink w3-red" onclick="openCity(event,'C')" id="0">C</button>
    <button class="w3-bar-item w3-button tablink" onclick="openCity(event,'C++')" id="1">C++</button>
    <button class="w3-bar-item w3-button tablink" onclick="openCity(event,'Java')" id="2">Java</button>
    <button class="w3-bar-item w3-button tablink" onclick="openCity(event,'Perl')" id="3">Perl</button>
    <button class="w3-bar-item w3-button tablink" onclick="openCity(event,'Python')" id="4">Python</button>
    <button class="w3-bar-item w3-button tablink" onclick="openCity(event,'Scala')" id="5">Scala</button>
  </div>

  <div id="C" class="w3-container w3-border city">
    <form action="">
      <div class="row">
        <div class="col-md-7 offset-md-0.5">
            	<textarea  id="inputTextToSavec" rows="10" cols="75" input='text'class="tex-color" name='codec'>#include<stdio.h></textarea>
        </div>
        <div class="col-md-4" style="margin-left:8%">
              <label for="title">Input : </label>
               <textarea rows="5" cols="30" input='text' name='user_input'class="tex-color"></textarea>
        </div>
      </div>
    <br>
  	<button name="button" type="submit">Run>></button>
    </form>
  </div>


  <div id="C++" class="w3-container w3-border city" style="display:none">
        <form action=" ">
          <div class="row">
                <div class="col-md-7 offset-md-0.5">
	                     <textarea  id="inputTextToSavecpp" rows="10" cols="75" input='text' name='codecpp' class="tex-color">#include <iostream>
using namespace std;</textarea>
                </div>
                <div class="col-md-4" style="margin-left:8%">
                      <label for="title">Input : </label>
                      <textarea rows="5" cols="30" input='text' name='user_input' class="tex-color"></textarea>
                </div>
          </div>
            <br>
          	<button name="button" type="submit">Run>></button>
      </form>
  </div>

  <div id="Java" class="w3-container w3-border city" style="display:none">
    <form action=" ">
      <div class="row">
          <div class="col-md-7 offset-md-0.5">
	             <textarea id="inputTextToSavejava" rows="10" cols="75" input='text' name='codejava' class="tex-color">public class code {}</textarea>
          </div>
          <div class="col-md-4" style="margin-left:8%">
              <label for="title">Input : </label>
              <textarea rows="5" cols="30" input='text' name='user_input' class="tex-color"></textarea>
          </div>
      </div>
      <br>
    	<button name="button" type="submit">Run>></button>
    </form>
  </div>

  <div id="Perl" class="w3-container w3-border city" style="display:none">
    <form action="">
      <div class="row">
          <div class="col-md-7 offset-md-0.5">
                <textarea id="inputTextToSavepl" rows="10" cols="75" input='text' name='codeperl' class="tex-color">#!/usr/bin/perl</textarea>
          </div>
          <div class="col-md-4" style="margin-left:8%">
                <label for="title">Input : </label>
                <textarea rows="5" cols="30" input='text' name='user_input' class="tex-color"></textarea>
          </div>
      </div>
      <br>
      <button name="button" type="submit">Run>></button>
    </form>
  </div>

  <div id="Python" class="w3-container w3-border city" style="display:none">
    <form action="">
        <div class="row">
            <div class="col-md-7 offset-md-0.5">
	                     <textarea id="inputTextToSavepy" rows="10" cols="75" input='text' name='codepython' class="tex-color">#!/usr/bin/python</textarea>
            </div>
            <div class="col-md-4" style="margin-left:8%">
                      <label for="title">Input : </label>
                      <textarea rows="5" cols="30" input='text' name='user_input' class="tex-color"></textarea>
            </div>
       </div>
        <br>
      	<button name="button" type="submit">Run>></button>
    </form>
  </div>

  <div id="Scala" class="w3-container w3-border city" style="display:none">
    <form action=" ">
      <div class="row">
          <div class="col-md-7 offset-md-0.5">
                  <textarea rows="10" id="inputTextToSavescala" cols="75" input='text' name='codescala' class="tex-color">object code {}</textarea>
          </div>
          <div class="col-md-4" style="margin-left:8%">
                  <label for="title">Input : </label>
                  <textarea rows="5" cols="30" input='text' name='user_input' class="tex-color"></textarea>
          </div>
      </div>
  <br>
  <button name="button" type="submit">Run>></button>
    </form>
  </div>
                    <table>
                    	<tr>
                    		<td>Filename to Save As:</td>
                    		<td><input id="inputFileNameToSaveAs"></input></td>
                    		<td><button onclick="saveTextAsFile()">Save Code to File</button></td>
                    	</tr>
                    	<tr>
                    		<td>Select a File to Load:</td>
                    		<td><input type="file" id="fileToLoad"></td>
                    		<td><button onclick="loadFileAsText()">Load Selected File</button><td>
                    	</tr>
                    </table>
</div>
<script src="{% static 'js/code.js' %}"></script>
<script>

</script>

</body>
</html>
