<!DOCTYPE html>
<html>
{% load static %}
<title> MY CODE PLATFORM </title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="{% static 'css/style.css' %}" />
<body>
<h3 class= "platform">Platform as a Service <br> Cross Platform Cloud IDE</h3>

<div class="w3-container place">

  <div class="w3-bar w3-black">
    <button class="w3-bar-item w3-button tablink w3-red" onclick="openCity(event,'C')">C</button>
    <button class="w3-bar-item w3-button tablink" onclick="openCity(event,'C++')">C++</button>
    <button class="w3-bar-item w3-button tablink" onclick="openCity(event,'Java')">Java</button>
    <button class="w3-bar-item w3-button tablink" onclick="openCity(event,'Perl')">Perl</button>
    <button class="w3-bar-item w3-button tablink" onclick="openCity(event,'Python')">Python</button>
    <button class="w3-bar-item w3-button tablink" onclick="openCity(event,'Scala')">Scala</button>
  </div>

  <div id="C" class="w3-container w3-border city">
    <form action="">
      <div class="row">
        <div class="col-md-7 offset-md-0.5">
            	<textarea rows="10" cols="75" input='text'class="tex-color" name='codec'>#include<stdio.h></textarea>
        </div>
        <div class="col-md-4" style="margin-left:8%">
              <label for="title">Input : </label>
               <textarea rows="5" cols="30" input='text' name='user_input'class="tex-color"></textarea>
        </div>
      </div>
    <br>
  	<button name="button" type="submit">Run>></button>
    </form>
  </div>


  <div id="C++" class="w3-container w3-border city" style="display:none">
        <form action=" ">
          <div class="row">
                <div class="col-md-7 offset-md-0.5">
	                     <textarea rows="10" cols="75" input='text' name='codecpp' class="tex-color">#include <iostream>
using namespace std;</textarea>
                </div>
                <div class="col-md-4" style="margin-left:8%">
                      <label for="title">Input : </label>
                      <textarea rows="5" cols="30" input='text' name='user_input' class="tex-color"></textarea>
                </div>
          </div>
            <br>
          	<button name="button" type="submit">Run>></button>
      </form>
  </div>

  <div id="Java" class="w3-container w3-border city" style="display:none">
    <form action=" ">
      <div class="row">
          <div class="col-md-7 offset-md-0.5">
	             <textarea rows="10" cols="75" input='text' name='codejava' class="tex-color">public class code {}</textarea>
          </div>
          <div class="col-md-4" style="margin-left:8%">
              <label for="title">Input : </label>
              <textarea rows="5" cols="30" input='text' name='user_input' class="tex-color"></textarea>
          </div>
      </div>
      <br>
    	<button name="button" type="submit">Run>></button>
    </form>
  </div>

  <div id="Perl" class="w3-container w3-border city" style="display:none">
    <form action="">
      <div class="row">
          <div class="col-md-7 offset-md-0.5">
                <textarea rows="10" cols="75" input='text' name='codeperl' class="tex-color">#!/usr/bin/perl</textarea>
          </div>
          <div class="col-md-4" style="margin-left:8%">
                <label for="title">Input : </label>
                <textarea rows="5" cols="30" input='text' name='user_input' class="tex-color"></textarea>
          </div>
      </div>
      <br>
      <button name="button" type="submit">Run>></button>
    </form>
  </div>

  <div id="Python" class="w3-container w3-border city" style="display:none">
    <form action="">
        <div class="row">
            <div class="col-md-7 offset-md-0.5">
	                     <textarea rows="10" cols="75" input='text' name='codepython' class="tex-color">#!/usr/bin/python</textarea>
            </div>
            <div class="col-md-4" style="margin-left:8%">
                      <label for="title">Input : </label>
                      <textarea rows="5" cols="30" input='text' name='user_input' class="tex-color"></textarea>
            </div>
       </div>
        <br>
      	<button name="button" type="submit">Run>></button>
    </form>
  </div>

  <div id="Scala" class="w3-container w3-border city" style="display:none">
    <form action=" ">
      <div class="row">
          <div class="col-md-7 offset-md-0.5">
                  <textarea rows="10" cols="75" input='text' name='codescala' class="tex-color">object code {}</textarea>
          </div>
          <div class="col-md-4" style="margin-left:8%">
                  <label for="title">Input : </label>
                  <textarea rows="5" cols="30" input='text' name='user_input' class="tex-color"></textarea>
          </div>
      </div>
  <br>
  <button name="button" type="submit">Run>></button>
    </form>
  </div>

</div>

<script>
function openCity(evt, cityName) {
  var i, x, tablinks;
  x = document.getElementsByClassName("city");
  for (i = 0; i < x.length; i++) {
      x[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablink");
  for (i = 0; i < x.length; i++) {
      tablinks[i].className = tablinks[i].className.replace(" w3-red", "");
  }
  document.getElementById(cityName).style.display = "block";
  evt.currentTarget.className += " w3-red";
}
</script>

</body>
</html>
