<!DOCTYPE html>
<html>
{% load static %}
<title> MY CODE PLATFORM </title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="{% static 'css/style.css' %}" />
<body>
  <div input='text' name='output' class="output"><div class="platform" style="color:black;">OUTPUT</div>
  <div style="text-align:center;">
        {{ output|linebreaks }}
</div>
  </div>

</body>
</html>
