{% load static %}
<link rel="stylesheet" href="{% static 'css/style.css' %}" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<title>Online Terminal</title>

<br>
<br>
<div class="col-md-2"></div>
<a href = {% url 'centos-shell' %} class="box col-md-4">
  <h2><span>Launch and Manage </span>Container CentOS</h2>
  <!-- <h3>CENTOS</h3><br><br> -->
  <img src = "../../static/css/centos.jpeg"></img>
</a>

<div class="col-md-4" ></div>
<a href="{% url 'ubuntu-shell' %}" class="box col-md-4">
    <h2><span>Launch and Manage </span>Container Ubuntu16.04</h2>
    <img src ="../../static/css/ubuntu.jpeg"></img>
</a>
